@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --foreground-hsl: 0, 100%, 0%;
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  
  }
}

body {
  color: rgb(var(--foreground-hsl));
  font-size: 14px;
}

@layer base {
  h1 {
    @apply font-extrabold text-4xl
  }
}

.icon {
  vertical-align: bottom;
}